@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@500&display=swap');

:root{
  --background-color: rgb(42, 43, 46);
  --border-color: rgba(255, 255, 255, 0.1);
}

@keyframes WhiteToBack {
  from {
    background-color: rgba(155, 155, 155, 0.5);
  }
  to {
    background-color: rgb(42, 43, 46);
  }
  
}


.mainMenu{
  display:flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: var(--background-color,);
  bottom: 100vh;
  transition: bottom .4s;
  z-index: 1;
  border: 2px solid var(--border-color);
}

.scoreBoard{
  display: flex;
}


.taskConfirmWindow{
  width: 500px;
  height: 600px;
  background-color: var(--background-color);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.sidesContainer {
  display: flex;
  flex-direction: row;
}

.sidesContainer> .tcwSideLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50%;
}
.tcwSideLeft > .taskContainer {
  flex-basis: 1;
  height: 502px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.textBox > .tcwText {
  position: relative;
  font-size: 15px;
  display: flex;
  width: 280px;
  height: 480px;
  overflow-x: auto;
  list-style: none;
}

.tcwSideLeft > .tcwBtn {
  width: 300px;
  height: 62px;
  justify-content: center;
  align-items: center;
}

.sidesContainer > .tcwSideRight {
  position: relative;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.tcwSideRight > .block {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  overflow: hidden;
  flex-grow: 1;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}


.block > #a {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px 5px;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

.block > #b {
  display: flex;
  position: relative;
  top: 70px;
  width: 90%;
  padding: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
}

#tcwClose {
  position: relative;
  left:265px;
  background-color: transparent;
  border: 0;
  top: 9px;
  color: white;
}


#tcwClose:hover {
  transition: all .4s;
  scale: 1.5;
}


.line {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid  var(--border-color);
  justify-content: center;
}

.taskLine{
  display: flex;
}

.btn-border {
  border: 1px solid var(--border-color) !important
}

.alertBox, .confirmBox, .askBox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(34, 35, 36, 0.95);
  transition: all .3s;
}



.confirmWindow{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--border-color)
}

.alert{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--border-color);
}

.alert > #titleLine {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);

}

.alert > #contentLine {
  display: flex;
  align-items: center;
  width: 300px;
  min-height: 30px;
  background-color: var(--background-color); 
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.tasksScanField {
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 400px;
  background-color: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  overflow-x: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}


.scoreBoard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}


.taskLine > button, .scoreBoard > div {
  flex-grow: 1;
}

.customTaskPanel{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#taskTextField {
  width: 99%;
}
.customTaskPanel > .fields {
  display: flex;
  flex-direction: row;
  gap: 350px;
}

.fields > .block {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#taskName, #maximumErrors, #timerTime {
  width: 200px;
  height: 30px;
}


#menuClose:hover > i {
  transition: all .1s;
  rotate: 180deg;
}

#menuClose:not(:hover) > i {
  transition: all .3s;
  rotate: 0deg;
}
.btn {
  border: 0;
  border-radius: 0;
  background: rgb(51, 53, 58);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.btn:hover{
  transition: all .2s linear;
  background-color: white;
  color: black;
}

.btn:active{
  transition: all .1s linear;
  background-color: var(--background-color);
  color: white;
}

.btn-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.color-white {
  color: white;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

#text-field {
  width: 1000px;
  height: 60px;
  overflow: hidden;
  margin-left:10px;
  background-color: rgba(155, 155, 155, 0.5);
  border: 1px groove white;
}

#text-field > #text {
  display: inline;
  user-select: none;
  white-space: pre;
  position: relative;
  left: 10px;
  top: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: white;
}

#text-field > #text2 {
  display: inline;
  user-select: none;
  white-space: pre;
  position: relative;
  text-align: start;
  left: 10px;
  top: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: white;
}


body {
 background-color: var(--background-color);
 /* background-image: linear-gradient(
  90deg,
  rgb(42, 43, 46) 0%,
  white 45vh,
  rgb(42, 43, 46) 100%
); */
 display: flex;
 flex-direction: column;
 margin: 0px;
 overflow: hidden;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

footer {
  display: flex;
  background-color: rgba(155, 155, 155, 0.1);
  border-top: 1px solid var(--border-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}


footer > #f1 {
  margin-left: 5px;
  margin-bottom: 3px;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

nav > .nav-section { 
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-center {
  flex-basis: calc(100%);
}

#tasks-menu:hover,#stats-menu:hover {
  transition: background-color 200ms linear;
  background-color: rgb(235, 235, 235);
}


#tasks-menu:hover > i,#stats-menu:hover > i {
  transition: color 300ms linear;
  color: black;
}


#navbar:hover{
  background: linear-gradient(
    90deg,
    rgb(42, 43, 46) 0%,
    white var(--x),
    rgb(42, 43, 46) 100%
  );
}

#navbar:not(:hover) {
  animation: WhiteToBack 1s ease;
}

#nav-center:hover .color-white {
  color:black;
}

#nav-center:not(:hover) .color-white {
  transition: color 200ms linear;
  color:white;
}

.center-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 19px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: rgb(161, 161, 161);
}
.inputField {
  background: var(--background-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  color: white;
  
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 580px;
}

.keyLine {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}



.keyboardKey {
  height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: #ffffff33;
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .2s;
}
.space {
  width: 100px !important; 
}