@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@500&display=swap');

:root{
  --background-color: rgb(42, 43, 46);
  --border-color: rgba(255, 255, 255, 0.1);
}

@keyframes WhiteToBack {
  from {
    background-color: rgba(155, 155, 155, 0.5);
  }
  to {
    background-color: rgb(42, 43, 46);
  }
  
}


.mainMenu{
  display:flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 70vw;
  height: 90vh;
  background-color: var(--background-color,);
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  transition: all .4s;
}


.topLine{
  display: flex;
  flex-direction: row;
}

.topLine > .title {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  bottom: 30px;
  user-select: none;
  opacity: 0.1;
  z-index: 1;
}

.topLine > .info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 15%;
  height: 100%;
  left: 20px;
  z-index: 0;
  opacity: 0.1;
}

.info > div {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10px;
  flex-grow: 1;
  height: 182px;
  align-items: center;
}

.mmWindowClose{
  display: flex;
  position: relative;
  background-color: transparent;
  border: 0;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mmSides{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mmSideLeft {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 15%;
  height: 100%;
}

.mmSideLeft div:nth-child(1) {
  border-top: 0;
}

.mmLeftSideBlock{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}


.mmLeftSideBlock > button{
  display: flex;
  position: relative;
  background-color: transparent;
  border: 0;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mmLeftSideBlock:hover > button{
  font-size: 40px;
  transition: all .2s;
}

.mmLeftSideBlock:not(:hover) > button{
  transition: all .5s;
  font-size: 15px;
}

.mmWindowClose:hover {
  transition: all .4s;
  scale: 1.5;
}

.mmSideRight{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mmRightContainer{
  flex-grow: 1;
  position: absolute;
  transition: all .3s;
  scale: 0;
  visibility: hidden;
  height: 100%;
  width: 85%;
  left:15%;
}
.mmSideRight > #tasksList {
  display: flex;
  flex-direction: column;
}


.mmSideRight > #mmStatistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  border-top: 10%;
}

.arrows {
  position: absolute;
  display: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:23%;
  left:96%;
  opacity: 0.4;
}

.arrows2 {
  top: 75%;
  left: 96%;
}

.mmStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-grow: 1;
  border-bottom: 1px solid var(--border-color);
}
#star:hover {
  transition: all .3s;
  rotate:145deg;
}

#star:not(:hover), #bug:not(:hover), #check:not(:hover) {
  transition: all .3s;
  rotate:0deg;
}

#bug:hover {
  transition: all .3s;
  rotate:80deg;
}
#check:hover {
  transition: all 1s;
  rotate:360deg;
}
.mmStatsContainer > div {
  font-size: 25px;
  padding-bottom: 20px;
}

#mmStatistics div:nth-child(3) {
  border-bottom: 1px solid var(--border-color);
}

.btnTask {
  border: 0;
  border-radius: 0;
  background: rgb(51, 53, 58);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  flex-grow: 1;
  transition: all .4s;
  width: 90%;
  max-height: 30px;
}

.btnTask:hover {
  max-height: 45px;
  font-size: 30px;
  width: 95% !important;
}

#mmInfo > .mmInfoFooter {
  display: flex;
  border-top: 1px solid var(--border-color);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}


.mmCloseButtonContainer {
  position: absolute;
  display: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:6.2%;
  left:82.8%;
  z-index: 2;
}
.mmCloseButtonContainer > button {
  border: 0;
  background-color: transparent;
}
.mmCloseButtonContainer > button:hover {
  transition: all .3s;
  scale: 1.5;
}
.mmCloseButtonContainer > button:not(:hover) {
  transition: all .3s;
  scale: 1;
}



.mmSideRight > #mmCreateTask {
  display: flex;
  flex-direction: column; 
}
.mmCtTop {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
.mmCtFieldsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

#mmCreateTask {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.mmCtBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 20px;
}
.mmCtBlock > div, .mmCtBlock2 > div  {
  text-align: center;
  position: relative;
  height: 40px;
  width: 250px;
  border-bottom: 1px solid var(--border-color);
}

.mmCtBlock > input {
  border-radius: 3px;
  border: 2px solid var(--border-color);
  text-align: center;
}


.mmCtBlock2 {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap:60px;
}



.mmCtBlock2 > #taskTextField {
  position: relative;
  width: 95.5%;
  border-radius: 3px;
  border: 2px solid var(--border-color);
}


.mmRightContainer > .tasksField , .tasksScanField {
  display: flex;
  flex-direction:column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  overflow-x: auto;
  list-style: none;
  left: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  visibility: hidden;
  scale: 0;
  transition: all .4s;
  width: 95%;
}


.mmline {
  display: flex;
  position: relative;
  visibility: visible;
  align-items: center;
  justify-content: center;
  font-size: 18px !important;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}
.scoreBoard{
  display: flex;
}


.endTaskWindow {
  display: flex;
  flex-direction: column;
  width: 510px;
  height: 600px;
  background-color: var(--background-color);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  align-items: center;
}

.endTaskWindow > .topContainer{
  flex-grow: 1;
  width: 450px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.endTaskWindow > .etTitle {
  display: flex;
  top: 5px;
  bottom: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
  border-bottom: 1px solid var(--border-color);
}
.etTitle > div {
  position: absolute;
  bottom: 10px;
}
.tf2 {
  transition: all .4s;
}
.endTaskWindow > .bottomContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: 15px;
  gap: 40px;
}

.bottomContainer > .etblock {
  display: flex;
  width: 105px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.etblock > div{
  flex-grow: 0.5;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

}

.etblock > i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 10px;
  flex-grow: 0.5;
  border-right: 1px solid var(--border-color);
}

::-webkit-scrollbar {
  display: none;
}

#userInputText {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 450px;
  padding-left: 20px;
  padding-top: 10px;
}
#userInputText > div {
  display:flex;
  user-select: none;
  white-space: pre;
  position: relative;
  text-align: start;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.taskConfirmWindow{
  width: 500px;
  height: 600px;
  background-color: var(--background-color);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.sidesContainer {
  display: flex;
  flex-direction: row;
}

.sidesContainer> .tcwSideLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50%;
}
.tcwSideLeft > .taskContainer {
  flex-basis: 1;
  height: 502px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.textBox > .tcwText {
  position: relative;
  font-size: 15px;
  display: flex;
  width: 280px;
  height: 480px;
  overflow-x: auto;
  list-style: none;
}

.tcwSideLeft > .tcwBtn {
  width: 300px;
  height: 62px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-right: 0;
}

.sidesContainer > .tcwSideRight {
  position: relative;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.tcwSideRight > .block {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  overflow: hidden;
  flex-grow: 1;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}


.block > #a {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px 5px;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

.block > #b {
  display: flex;
  position: relative;
  top: 70px;
  font-size: 15px;
  width: 90%;
  padding: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
}

.windowClose {
  position: relative;
  left:265px;
  background-color: transparent;
  border: 0;
  top: 9px;
  color: white;
}


.windowClose:hover {
  transition: all .4s;
  scale: 1.5;
}


.line {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid  var(--border-color);
  justify-content: center;
}

.taskLine{
  display: flex;
}

.btn-border {
  border: 1px solid var(--border-color) !important
}

.alertBox, .confirmBox, .askBox, .endTaskBox,.mainMenuContainer {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(34, 35, 36, 0.95);
  transition: all .3s;
}



.confirmWindow{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--border-color)
}

.alert{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid var(--border-color);
}

.alert > #titleLine {
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);

}

.alert > #contentLine {
  display: flex;
  align-items: center;
  width: 300px;
  min-height: 30px;
  background-color: var(--background-color); 
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}



.scoreBoard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}


.taskLine > button, .scoreBoard > div {
  flex-grow: 1;
}

.customTaskPanel{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.customTaskPanel > .fields {
  display: flex;
  flex-direction: row;
  gap: 350px;
}

.fields > .block {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#taskName, #maximumErrors, #timerTime {
  width: 200px;
  height: 30px;
}

.btn {
  border: 0;
  border-radius: 0;
  background: rgb(51, 53, 58);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.btn:hover{
  transition: all .2s linear;
  background-color: white;
  color: black;
}

.btn:active{
  transition: all .1s linear;
  background-color: var(--background-color);
  color: white;
}

.btn-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

.color-white {
  color: white;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

  .statsLine {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 500px;
    top:60px;
  }
  .statsLine > .slBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    gap: 5px;
  }

#text-field {
  width: 1250px;
  height: 60px;
  overflow: hidden;
  margin-left:10px;
  background-color: rgba(155, 155, 155, 0.5);
  border: 1px groove white;
}

#text-field > #text {
  display: inline;
  user-select: none;
  white-space: pre;
  position: relative;
  left: 10px;
  top: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: white;
}

#text-field > #text2 {
  display: flex;
  flex-direction: row;


}

#text2 > div {
   display: inline;
  user-select: none;
  white-space: pre;
  position: relative;
  text-align: start;
    font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  left: 10px;
  top: 10px;
}

body {
 background-color: var(--background-color);
 /* background-image: linear-gradient(
  90deg,
  rgb(42, 43, 46) 0%,
  white 45vh,
  rgb(42, 43, 46) 100%
); */
 display: flex;
 flex-direction: column;
 margin: 0px;
 overflow: hidden;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

footer {
  display: flex;
  background-color: rgba(155, 155, 155, 0.1);
  border-top: 1px solid var(--border-color);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}


footer > #f1 {
  margin-left: 5px;
  margin-bottom: 3px;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

nav > .nav-section { 
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-center {
  flex-basis: calc(100%);
}

#tasks-menu:hover,#stats-menu:hover {
  transition: background-color 200ms linear;
  background-color: rgb(235, 235, 235);
}


#tasks-menu:hover > i,#stats-menu:hover > i {
  transition: color 300ms linear;
  color: black;
}


#navbar:hover{
  background: linear-gradient(
    90deg,
    rgb(42, 43, 46) 0%,
    white var(--x),
    rgb(42, 43, 46) 100%
  );
}

#navbar:not(:hover) {
  animation: WhiteToBack 1s ease;
}

#nav-center:hover .color-white {
  color:black;
}

#nav-center:not(:hover) .color-white {
  transition: color 200ms linear;
  color:white;
}

.center-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 19px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: rgb(161, 161, 161);
}
.inputField {
  background: var(--background-color);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  color: white;
  
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 600px;
}

.keyLine {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}

.keyboardKey {
  height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: #ffffff33;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.05rem;
    outline: none;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .2s;
}
.space {
  width: 100px !important; 
}

.mmItext {
  font-size: 17px;
  padding: 30px;
  text-align:center;
}
.mmIContacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top:30px;
  width: 90%;
  padding-left: 10%;
}
.mmIContactsBlock{
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  flex-grow: 1;
  justify-content: center;
}

.contactsImg {
  width: 40px;
  height: 40px;
}

.contactsImg:not(:hover){
  transition: all .3s;
  opacity: 0.7;
}

.contactsImg:hover{
  transition: all .3s;
  opacity: 1;
}

.mmSContainer {
  padding: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mmSblock{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


